# source
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/branches-animation-OpenGLRenderer.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/OpenGLRenderer	 git@github.com:OpenEngineDK/branches-animation-OpenGLRenderer.git

# win lib
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip

